.button7 {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 4px 8px;
  text-align: center;
  background-color: #E0BE9C;
  color: black;
  border: 2px solid #FFFFFF;
  border-radius:5px;
  font-size:15px;
        }

.a1{
  height: 100px;
  width: 100px;
  background-color: #4B3827;
  margin-top: 10px;
  margin-left: 50px;
  float: left;
  color:#FFFFFF;
  font-size:25px;
  }
  
.a2{
  height: 100px;
  width: 100px;
  background-color: #4B3827;
  margin-top: 10px;
  float: left;
  color:#FFFFFF;
  font-size:25px;
  }